/data/raw/*/*.csv
/data/raw/*/*.db
/data/raw/*/*.txt
/data/raw/TrainingImages/*/*.xml
/data/raw/TrainingImages/*/*.db
app_streamlit.py
custom_components.py
functions.py
/pages

# Editors
.vscode/
.idea/
*.pt
!yolov5l_weights.pt
.ipynb_checkpoints
*.pyc
*.pyc
